# DigitalOcean
do_token     = "dop_v1_your_token_here"
region       = "sgp1"
cluster_name = "sub2api"
k8s_version  = "1.34"
node_size    = "s-2vcpu-4gb"
min_nodes    = 1
max_nodes    = 3

# Kubernetes bootstrap
letsencrypt_email = "admin@yourdomain.com"

# Cloudflare DNS
cloudflare_api_token = "your_cloudflare_api_token_here"
cloudflare_zone_id   = "your_zone_id_here"
domain_suffix        = "do-prod.yourdomain.com"
cloudflare_proxied   = true

# Managed PostgreSQL (optional, default false)
enable_managed_database = false
# db_size               = "db-s-1vcpu-1gb"
